<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <id>LINKS-BRMS-PROD</id>
        <name>LINKS-BRMS-PROD</name>
        <url>https://cicd-nexusenterprise.cvshealth.com:8443/repository/LINKS-BRMS-PRD</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <id>LINKS-BRMS-PROD</id>
        <name>LINKS-BRMS-PROD</name>
        <url>https://cicd-nexusenterprise.cvshealth.com:8443/repository/LINKS-BRMS-PRD</url>
                </pluginRepository>
            </pluginRepositories>
            <id>bintray</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>bintray</activeProfile>
    </activeProfiles>
    <servers>
      <server>
         <id>LINKS-BRMS-PROD</id>
            <username>${env.MVN_SERVER_USER}</username>
            <password>${env.MVN_SERVER_KEY}</password> 
      </server>
    </servers>
</settings>
